@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-height: 100vh;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: fixed;
}
.wrapper:hover,
#sidebar:hover {
    width: 260px; 
    min-width: 200px;
    transition: all .25s ease-in-out;
}

.imagem {
    min-width: 150px !important;
    width: 100%;
    max-width: 200px;
}

#sidebar.expand {
    width: 260px;
    min-width: 200px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 0rem;
    transition: 0.3s ease;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}


#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

#sidebar:hover .sidebar-logo,
#sidebar:hover a.sidebar-link span {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding:  .625rem 0;
    color: #FFFFFF;
    display: flex;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    flex-direction: row;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.459);
    border-left: 3px solid #3b7ddd;  
}

.sidebar-link > svg {
    color: #FFFFFF;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

@media (max-width: 980px) {
    #sidebar {
        
        height: 100vh;
    }
}