<header> 
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark header__container">
    <div class="container-fluid">
      <a class="navbar-brand text-dark fs-3 text-left ms-lg-5 ms-1 text ">SIQ - Sistema Interno de Qualidade V1.0</a>
      <button class="navbar-toggler bg-primary" *ngIf="!isAsideOpen"  type="button" data-bs-toggle="offcanvas" data-bs-target="#responsivo"   aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="header__user d-none d-lg-block">
        <p class=" text-dark "> Usuário: <span class="fw-bold">{{ userIdentifier }}</span></p>
      </div> 
    </div>
  </nav>
    
  <div class="header__line"></div>
   
  <app-aside class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="responsivo" aria-labelledby="offcanvasDarkNavbarLabel"> 
  </app-aside>

</header>    


