.header__container {
    background-color: rgb(42, 42, 204);
    height: 8vh;
    width: 100%;

    display: flex;
    flex-direction: row;  
}

.header__title {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
 }

.header__title > h2 {
    color: white;
    font-size: x-large;
    width: 80%;

    margin-left: 1.0rem;
}

.header__back {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.bg {
    background-color: #383795;
}

.header__back > button{
    width: 60px;
    height: 100%;
    font-size: xx-large;
    background-color: rgb(42, 42, 204);
    border-left: 2px solid white;

    color: white;
}


/*body*/

.info__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}
.info__box{
    border: 1px solid rgb(172, 169, 169);
    width: 800px;
    height: 300px;

    background-color:  rgba(235, 234, 234, 0.705);
    border-radius: 8px;

    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 15px;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.info__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 50px;
}

span {
    color: black;
    font-weight: 700;
}

@media (max-width: 768px) {

    .info__box{
        
        width: 500px;
        height: 300px;
    
        
    }
}

@media (max-width: 478px) {
    .info__box{
        
        width: 300px;
    }
    .info__container > div > img {
        width: 100%;
    }
}