<header>
    <div class="header__container bg">
        <div class="header__title">
            <h2>Sobre</h2>
        </div>

        <div class="header__back">
            <button routerLink="/login"><</button>
        </div>
    </div>
</header>

<div class="info__container">
    <div class="my-5 mb-9 text-center">
        <img class="w-75" src="../../../assets/logo.png" alt="">
    </div>

    <div>
        <div class="info__box">
        
            <p>Versão: 1.0</p>
            <p>Atualização: </p>
            <p>Desenvolvimento do Aplicativo dos procedimentos dos setores.</p>

        </div>

       <div class="info__text">
            <div>
                
                <h3>Versão atual: <span>1.0</span>
                </h3>
            </div>

            <div>
                
                <p>Developed By - TI Tecnotextil</p>
            </div>
       </div>
    </div>
</div>


