<div class="container p-4">
   
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner d-flex align-items-center justify-content-center" style="height: 75vh;"> 
         <img src="assets/logo.png" alt="Logo" width="500">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>

  <!-- 
    Comum às áreas - ok
    Passadoria - ok
    Sewtech
    Atendimento ao Cliente - ok
    Artes - ok
    Compras - ok
    Corte - ok
    Costura - ok
    Desenvolvimento - ok
    Embalagem - ok

   -->